body {
    background-color: rgba(229, 239, 255, 1)
}

h1 {
    color: navy;
    text-align: center;
}
h2 {
    color: navy;
    text-align: center;
}

#icons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
a i {
    color: navy;
}